@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    min-height: 1000px;
}

h1{
    color: green;
    font-size: 5.5em;
    position: relative;
    top: -60px;
    left: -200px;
}

p{
    font-size: 300;
    color: black;
    position: relative;
    top: -50px;
    left: -200px;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://st3.depositphotos.com/1558912/19061/i/1600/depositphotos_190618708-stock-photo-italian-food-background-on-white.jpg);
    background-size: cover;
}

.button{
   font-size: 1em;
   color: white;
   background: green;
   display: inline-block;
   padding: 10px 30px;
   margin-top: 20px;
   text-transform: uppercase;
   text-decoration: none;
   letter-spacing: 2px; 
   transition: 0.5s;
   position: relative;
   top: -30px;
   border-radius: 20px;
}

.button:hover{
    letter-spacing: 6px;
    color: green;
    background-color: white;
    border-radius: 20px;
    border: 3px solid green;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header .logo{
    color: green;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
    margin-left: 30px;
}

header .navigation li a{
    text-decoration: none;
    color: green;
    font-weight: 500;
}