@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    min-height: 1000px;
    /* overflow: hidden; */
}

h1{
    color: green;
    font-size: 5.5em;
    position: relative;
    top: -10px;
    left: -200px;
}

p{
    font-size: 300;
    color: black;
    position: relative;
    top: 10px;
    left: -200px;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://st3.depositphotos.com/1558912/19061/i/1600/depositphotos_190618708-stock-photo-italian-food-background-on-white.jpg);
    background-size: cover;
}

.button{
   font-size: 1em;
   color: white;
   background: green;
   display: inline-block;
   padding: 10px 30px;
   margin-top: 20px;
   text-transform: uppercase;
   text-decoration: none;
   letter-spacing: 2px; 
   transition: 0.5s;
   position: relative;
   top: 40px;
   border-radius: 20px;
}

.button:hover{
    letter-spacing: 6px;
    color: green;
    background-color: white;
    border-radius: 20px;
    border: 3px solid green;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky{
    background: white;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

header .logo{
    color: green;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
    margin-left: 30px;
}

header .navigation li a{
    text-decoration: none;
    color: green;
    font-weight: 500;
}

header .navigation li a:hover{
    color: black;
    transition: 0.5s;
    letter-spacing: 3px;
}

section{
    padding: 100px;
}

h2{
    text-align: center;
    position: relative;
    top: -50px;
    font-size: 2.0em;
    text-decoration: underline 3px solid green;
}

.paragraph2{
    /* text-align: center; */
    position: absolute;
    left: 700px;
    top: 800px;
}

.img1{
    width: 420px;
    height: 420px;
    position: absolute;
    left: 200px;
    object-fit: cover;
}

.food{
    position: relative;
    top: 300px;
}

.paragraph3{
    position: relative;
    top: 320px;
    left: 10px;
    text-align: center;
}

/* .title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}

.menu .content .box{
    width: 300px;
    margin: 20px;
    border: 15px solid white;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}

.menu .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
}

.menu .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */



.box{
position: relative;
top: 450px;
left: 450px;
width: 200px;
height: 200px;
transform-style: preserve-3d;
animation: animate 20s linear infinite;
}

@keyframes animate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }

    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.box span{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
transform-origin: center;
transform-style: preserve-3d;
transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
-webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004)
}

.box span img{
width: 300px;
height: 300px;
object-fit: cover;     
}

.box span img{
position: absolute;
top: 0;
left: 0; 
width: 100%;
height: 100%;
}

.button1{
font-size: 1em;
color: white;
background: green;
display: inline-block;
padding: 10px 30px;
margin-top: 20px;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 2px; 
transition: 0.5s;
position: relative;
top: 600px;
left: 465px;
border-radius: 20px;
 }
 
 .button1:hover{
letter-spacing: 6px;
color: green;
background-color: white;
border-radius: 20px;
border: 3px solid green;
 }

.testimonials {
    position: relative;
    top: 450px;
 }

.paragraph4{
    position: relative;
    top: 470px;
    left: 10px;
    text-align: center;
 }

 .reviews .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
 }

 .reviews .content .cube{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .reviews .content .cube .imgBx{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
 }

 .reviews .content .cube .imgBx img{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
 }